<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>ru.job4j.EchoServlet</servlet-class>
        <description>This servlet is an example servlet</description>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>ru.job4j.UsersServlet</servlet-class>
        <description>This is the UsersServlet</description>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
</web-app>