<web-app>

    <servlet>
        <servlet-name>getListBrand</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.GetBrand</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getListBrand</servlet-name>
        <url-pattern>/brands</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changeStatus</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.SetStatus</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>changeStatus</servlet-name>
        <url-pattern>/changeStatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>items</servlet-name>
        <servlet-class>ru.job4j.todolist.servlets.GetItemsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>items</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>itemsNeedToDo</servlet-name>
        <servlet-class>ru.job4j.todolist.servlets.GetItemsNeedToDoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>itemsNeedToDo</servlet-name>
        <url-pattern>/itemsNeedToDo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addItem</servlet-name>
        <servlet-class>ru.job4j.todolist.servlets.AddItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addItem</servlet-name>
        <url-pattern>/addItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getCars</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.GetCars</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getCars</servlet-name>
        <url-pattern>/getCars</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addCar</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.AddCar</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addCar</servlet-name>
        <url-pattern>/addCar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>body</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.GetBody</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>body</servlet-name>
        <url-pattern>/body</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>transmission</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.GetTransmission</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>transmission</servlet-name>
        <url-pattern>/transmission</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>engine</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.GetEngine</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>engine</servlet-name>
        <url-pattern>/engine</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>ru.job4j.carStorage.servlets.FileUploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>

</web-app>